<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Course Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/course']" routerLinkActive="active">List Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/course/create']" routerLinkActive="active">Create Course</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="margin-top: 20px;">
  <div class="d-block">
    <router-outlet></router-outlet>
  </div>
  <div class="d-block">
    <span class="features">Features: </span>
    <ul class="list-inline">
      <li class="list-inline-item font-italic badge badge-success p-1">.Net 5.0</li>
      <li class="list-inline-item font-italic badge badge-success p-1">Angular 10</li>
      <li class="list-inline-item font-italic badge badge-success p-1">Akita</li>
      <li class="list-inline-item font-italic badge badge-success p-1">Snotify</li>
      <li class="list-inline-item font-italic badge badge-success p-1">Pagination</li>
      <li class="list-inline-item font-italic badge badge-success p-1">SignalR</li>
      <li class="list-inline-item font-italic badge badge-success p-1">UntilDestroy</li>
      <li class="list-inline-item font-italic badge badge-success p-1">Validation</li>
      <li class="list-inline-item font-italic badge badge-success p-1">Sorting</li>
      <li class="list-inline-item font-italic badge badge-success p-1">Filtering</li>
    </ul>
    <span class="features">Source: </span>
    <a target="_blank" href="https://github.com/khanhvuongnh/CourseCRUD" class="btn btn-link">
      💎 Click me!
    </a>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-climbing-dot" [fullScreen]="true">
</ngx-spinner>

<ng-snotify></ng-snotify>