<form [formGroup]="form" (ngSubmit)="form.valid && onSubmit(form.getRawValue())">
  <div class="form-group">
    <label>Course Name</label>
    <input type="text" formControlName="name" name="name" class="form-control" style="width: 400px"
      placeholder="Enter course name..." />
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" formControlName="description" name="description" class="form-control" style="width: 400px"
      placeholder="Enter description..." />
  </div>
  <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Update</button>
</form>